# Environment variables for EducaOnline
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
JWT_SECRET=476a7f12-61d4-4ef9-92c5-7420e69e0c83
MESSAGE_BUS=host=rabbitmq:5672;username=guest;password=guest;publisherConfirms=true;timeout=10